/* 
------------------------------------------
Reset
------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 40px;
    background-color: red;
}

footer {
    height: 70px;
    background-color: green;
}

main {
    height: calc(100vh - 110px);
    background-color: yellow;
    overflow: auto;
}