/* 
------------------------------------------
Reset
------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 40px;
    background-color: black;
    display: flex;
    justify-content: end;
    gap: 5px;
}

.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
    padding: 4px 3px;
    text-decoration: none;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 3px;
}

main {
    position: relative;
    height: calc(100vh - 110px);
    background-color: black;
    overflow: auto;
    padding: 70px 70px 27px 70px;

}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;   
}

.foto {
    width: calc(100% / 7);
    /* height: 18vh; */
    /* background-color: black;
    border: 2px dashed red; */
    position: relative;
    padding: 2px;
}

img {
    width: 100%;
}

.tag {
    position: absolute;
    background-color: rgb(97, 110, 123, 0.5);
    color: white;
    padding: 4px 3px;
    text-decoration: none;
    font-size: 10px;
    left: 2px;
    bottom: 6px;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: #222222;
}

.icone {
    display: flex;
    gap: 15px;
    padding: 10px;
    width: 20%;
}

.allineamenti {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 22px;
    gap: 9px;
}

p {
    font-size: 10px;
    color: white;
}

.freccetta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 9px;
}

.icone2 {
    display: flex;
    gap: 15px;
    padding: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
}

h2 {
    background-color: #4a4a4a;
    color: red;
    font-size: 10px;
    padding: 30px;
}

.allineamenti3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #4dce00;
    font-size: 22px;
    gap: 9px;
}

.endbutton {
    display: flex;
    width: 20%;
    justify-content: end;
}



    
    
    

